* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("../fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow-Medium";
  src: url("../fonts/Barlow-Medium.ttf");
}

body {
  font-family: "Barlow-Regular";
}

h1,
h2 {
  font-family: "Barlow-Medium";
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
  color: #ffffff;
}
